sudo: false
language: node_js
node_js:
  - "node"
cache:
  directories:
    - "node_modules"
    - "$HOME/.nvm/versions/node/$(node --version)/lib/node_modules"
    - "functions/node_modules"
install:
  - npm install -g jshint
  - npm install -g csso-cli
  - npm install -g google-closure-compiler
  - npm install -g firebase-tools
before_script:
  - cd functions
  - npm install
  - cd ..
script:
  - firebase deploy --project blood-mv --token $FIREBASE_TOKEN
