sudo: false
language: node_js
node_js:
  - "node"
cache:
  directories:
    - "node_modules"
    - "functions/node_modules"
install:
  - npm install
# Comment below if functions are not to be deployed
# before_script:
#  - cd functions
#  - npm install
#  - cd ..
script:
  - firebase deploy --only hosting --project blood-mv --token $FIREBASE_TOKEN
