language: node_js
node_js:
  - "node"
cache:
  directories:
    - "node_modules"
    - "functions/node_modules"
install:
#  - npm install
  - yarn install
# Comment below if functions are not to be deployed
# before_script:
#  - cd functions
#  - npm install
#  - cd ..
script:
  - echo "Nothing to do here"
stages:
  - name: deploy
    if: nodeploy IN $TRAVIS_COMMIT_MESSAGE
    script: firebase deploy --only hosting --project blood-mv --token $FIREBASE_TOKEN
