/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.skip {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000000;
  color: white;
  padding: 8px;
  z-index: 100;
}

a.skip:focus {
  top: 0;
  z-index: 999;
}

body {
  background-color: #d9e0e7;
}

svg {
  pointer-events: none;
}

.icon-block {
  padding: 0 15px;
}

.input-field > label {
  color: #636363;
}

nav .brand-logo {
  font-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
  nav {
    line-height: 64px;
    height: 64px;
  }
}

@media only screen and (max-width: 992px) {
  nav .brand-logo {
    left: 85px;
  }
}

.sidenav-trigger {
  cursor: pointer;
}

.btn > svg {
  fill: #fff;
  height: 1.3rem;
  margin-bottom: -4px;
}

.btn.disabled > svg {
  fill: #9f9f9f;
}

nav > a > svg {
  fill: #fff;
  height: 64px;
}

#nav-mobile > li > div > svg,
#nav-mobile > li > div > img {
  fill: #fff;
  height: 80px;
  margin-bottom: -35px;
  width: 80px;
}

#nav-mobile > li {
  width: 100%;
}

#nav-mobile > li > a > svg {
  fill: #6f6f6f;
  fill: rgba(0,0,0,0.54);
  float: left;
  height: 48px;
  margin: 0 32px 0 0;
}

nav > .nav-wrapper svg {
  margin-top: 20px;
  fill: #fff;
}

#drop-acc {
  top: 64px !important;
  width: 350px !important;
}

#drop-acc > li > .title, #drop-acc > li > .email {
  padding: 0;
}

#drop-acc > li.avatar > svg {
  background-color: #6f6f6f;
  border-radius: 50%;
  fill: #fff;
  height: 42px;
  left: 15px;
  position: absolute;
  width: 42px;
}

#drop-acc > li.avatar:hover {
  background-color: #fff;
  cursor: default;
}

#drop-acc > li > img,
#nav-mobile > li > div.user-view > img {
  border-radius: 50%;
}

#drop-acc > li > img {
  height: 50px;
  left: 15px;
  position: absolute;
  width: 50px;
}

body > .progress {
  margin: 0;
}

#table-spinner {
  left: 50%
}

.load-more {
  display: none;
}

.fulf-enabled,
.share-link,
#logineasy,
#display-toggle {
  cursor: pointer;
  fill: #009688;
}

.fulf-enabled:hover,
#logineasy:hover,
#display-toggle > span > svg:hover {
  fill: #00796b;
}

.fulf-disabled,
#display-toggle > span.disabled > svg {
  cursor: default;
  fill: #9e9e9e;
}

#display-toggle > span > svg {
  vertical-align: bottom;
}

#allFields {
  border: none;
}

.toast > a {
  color: #fff;
}

/*  --------------------------------------------------------  */
/*  Styles for admin interfac                                 */
/*  --------------------------------------------------------  */
#nav-d-admin,
#nav-m-admin {
  display: none;
}

.admin-loader {
  display: none;
  vertical-align: bottom;
}

.admin-page {
  display: none;
}

.delete {
  cursor: pointer;
  fill: #009688;
}

.delete:hover {
  fill: #00796b;
}

.deleted {
  background-color: #ef9a9a !important;
  transition: all 1s;
}

#users td:nth-of-type(4) { fill: #616161; }

/*  --------------------------------------------------------  */
/*  Styles for the notifications page                         */
/*  --------------------------------------------------------  */
:root {
  --material-icon-refresh: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M17.65 6.35C16.2 4.9 14.21 4 12 4c-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08c-.82 2.33-3.04 4-5.65 4-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z" fill="%23009688"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  --material-icon-refresh-white: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M17.65 6.35C16.2 4.9 14.21 4 12 4c-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08c-.82 2.33-3.04 4-5.65 4-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z" fill="%23fff"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  --material-icon-add: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" fill="%23009688"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  --material-icon-add-disabled: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" fill="%239e9e9e"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  --material-icon-check: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z" fill="%23fff"/></svg>');
}

ul.subs-groups > li > input[type="checkbox"] {
  display: none;
}

ul.subs-groups {
  list-style: none;
}

ul.subs-groups > li {
  background-color: #fff;
  border: 1px solid #009688;
  border-radius: 25px;
  display: inline-block;
  margin: 10px 10px;
  transition: all 1s;
}

ul.subs-groups > li > label {
  color: #009688;
  cursor: pointer;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 0;
  padding: 0 20px 0 5px;
  transition: all 1s;
}

ul.subs-groups > li > label::before {
  content: var(--material-icon-add);
  display: inline-block;
  line-height: 14px;
  padding: 0 29px 0 5px;
  transition: all 1s;
  vertical-align: middle;
  width: 13px;
}

ul.subs-groups > li.sub-selected {
  background-color: #009688;
  border: 1px solid #009688;  
  transition: all 1s;
}

ul.subs-groups > li.sub-selected > label {
  color: #fff;
  transition: all 1s;
}
ul.subs-groups > li.sub-selected > label:before {
  content: var(--material-icon-check);
}

ul.subs-groups.disabled > li {
  border-color: #9e9e9e;
}

ul.subs-groups.disabled > li > label {
  color: #9e9e9e;
  cursor: default;  
}

ul.subs-groups.disabled > li > label::before {
  content: var(--material-icon-add-disabled);
}

ul.subs-groups > li.sub-selected.sub-loading > label:before {
  content: var(--material-icon-refresh-white);
}

ul.subs-groups > li.sub-loading > label::before {
  animation: icon-spin 2s infinite linear;
  content: var(--material-icon-refresh);
  padding: 0 29px 0 5px;
}

/*  --------------------------------------------------------  */
/*  Add to home screen (a2hs)                                 */
/*  --------------------------------------------------------  */
.a2hs-banner {
  bottom: 0;
  box-shadow: 0 -2px 10px 0 #d1d1d1;
  background: #fff;
  color: #007bff;
  display: none;
  height: 50px;
  left: 0;
  line-height: 50px;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 999;
}

.a2hs-img {
  height: 40px;
  left: 10px;
  position: absolute;
  top: 5px;
  width: 40px;
}

.a2hs-add {
  cursor: pointer;
  padding-left: 4em;
}

.a2hs-close {
  cursor: pointer;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 50px;
}

.a2hs-close > svg {
  fill: #888;
  height: 50px;
}

.a2hs-close:hover {
  background: #ccc;
}

/*  --------------------------------------------------------  */
/*  The infamous icon spin & pulse                            */
/*  --------------------------------------------------------  */
.icon-spin,
.icon-spin > svg {
  animation: icon-spin 2s infinite linear;
}

.icon-pulse,
.icon-pulse > svg {
  animation: icon-spin 1s infinite steps(8);
}

@keyframes icon-spin {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}

/*  --------------------------------------------------------  */
/*  Responsive table                                          */
/*  --------------------------------------------------------  */
/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 992px) {
  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead > tr {
    left: -9999px;
    position: absolute;
    top: -9999px;
  }
  /* Behave  like a "row" */
  td {
    overflow: hidden;
    padding-bottom: 5px;
    padding-left: 50%;
    padding-top: 5px;
    position: relative;
    text-overflow: ellipsis;
  }
  /* Override stripe coloring */
  table.striped > tbody > tr:nth-child(odd),
  table.striped > tbody > tr:nth-child(even) {
    background: #d9e0e7;
  }
  /* Add table header labels */
  td:before {
    left: 10px;
    position: absolute;
  }
  /* Material card layout */
  table.striped > tbody > tr {
    border-style: solid;
    border-color: #c1bbbb;
    border-radius: 12px;
    border-width: 1px;
    margin: 0.5rem 0 1rem 0;
    padding: 24px;
  }
  /* Label the data */
  #donors td:nth-of-type(1):before { content: "Name"; }
  #donors td:nth-of-type(2):before { content: "Gender"; }
  #donors td:nth-of-type(3):before { content: "Age"; }
  #donors td:nth-of-type(4):before { content: "Blood Group"; }
  #donors td:nth-of-type(5):before { content: "Atoll / City"; }
  #donors td:nth-of-type(6):before { content: "Island / Ward"; }
  #donors td:nth-of-type(7):before { content: "Phone"; }
  #donors td:nth-of-type(8):before { content: "Last Donated"; }
  #donors td:nth-of-type(9):before { content: "Delete"; }
  #requests td:nth-of-type(1):before { content: "Blood Group"; }
  #requests td:nth-of-type(2):before { content: "Contact Number"; }
  #requests td:nth-of-type(3):before { content: "Place"; }
  #requests td:nth-of-type(4):before { content: "Requested at"; }
  #requests td:nth-of-type(5):before { content: "Fulfilled"; }
  #requests td:nth-of-type(6):before { content: "Share"; }
  #requests td:nth-of-type(7):before { content: "Delete"; }
  #users td:nth-of-type(3):before { content: "Avatar"; }
  #users td:nth-of-type(1):before { content: "Name"; }
  #users td:nth-of-type(2):before { content: "Email"; }
  #users td:nth-of-type(4):before { content: "Admin?"; }
  #users td:nth-of-type(5):before { content: "Signed Up"; }
  #users td:nth-of-type(6):before { content: "Last Login"; }
  #users td:nth-of-type(7):before { content: "Delete"; }
}

/*  --------------------------------------------------------  */
/*  Scrollbar styling - for Chrome, Safari, Opera             */
/*  --------------------------------------------------------  */
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: #f1f1f1; }
::-webkit-scrollbar-thumb { background: #888; }
::-webkit-scrollbar-thumb:hover { background: #555; }
