/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#nav-mobile > li > div > i {
  font-size: 80px;
}

#nav-mobile > li {
  width: 100%;
}

#drop-acc {
  width: 350px !important;
  top: 64px !important;
}

#drop-acc > li > .title, #drop-acc > li > .email {
  padding: 0;
}

#drop-acc > li.avatar > i {
  font-size: 42px;
}

#drop-acc > li.avatar:hover {
  background-color: #fff;
  cursor: default;
}

#drop-acc > li > img,
#nav-mobile > li > div.user-view > img {
  width: 72px;
  border-radius: 50%;
}

#drop-acc > li > img {
  left: 15px;
  position: absolute;
  width: 50px;
}

#table-spinner {
  left: 50%
}

.pagination.right {
  width: auto;
}

.fulf-enabled,
#logineasy,
#display-toggle > i {
  color: #009688;
  cursor: pointer;
}

.fulf-enabled:hover,
#logineasy:hover,
#display-toggle > i:hover {
  color: #00796b;
}

.fulf-disabled,
#display-toggle > i.disabled {
  color: #9e9e9e;
  cursor: default;
}

#display-toggle > i {
  vertical-align: bottom;
}

#allFields {
  border: none;
}

/*  --------------------------------------------------------  */
/*  Styles for the notifications page                         */
/*  --------------------------------------------------------  */
ul.subs-groups > li > input[type="checkbox"] {
  display: none;
}

ul.subs-groups {
  list-style: none;
}

ul.subs-groups > li {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #009688;
  border-radius: 25px;
  margin: 10px 10px;
  transition: all 1s;
}

ul.subs-groups > li > label {
  color: #009688;
  padding: 0 20px 0 5px;
  cursor: pointer;
  line-height: 32px;
  margin-bottom: 0;
  transition: all 1s;
  transition: all 1s;
}

ul.subs-groups > li > label::before {
  color: #009688;
  content: attr(data-icon);
  display: inline-block;
  font-family: 'Material Icons';
  font-size: 24px;
  line-height: 14px;
  padding: 2px 30px 2px 2px;
  text-indent: 2px;
  width: 13px;
  vertical-align: text-bottom;
  transition: all 1s;
}

ul.subs-groups > li.sub-selected {
  background-color: #009688;
  border: 1px solid #009688;  
  transition: all 1s;
}

ul.subs-groups > li.sub-selected > label,
ul.subs-groups > li.sub-selected > label:before {
  color: #fff;
  transition: all 1s;
}

ul.subs-groups.disabled > li {
  border-color: #9e9e9e;
}

ul.subs-groups.disabled > li > label,
ul.subs-groups.disabled > li > label::before {
  color: #9e9e9e;
  cursor: default;
}

ul.subs-groups > li.sub-loading > label::before {
  animation: icon-spin 2s infinite linear;
  content: attr(data-icon);
}

/*  --------------------------------------------------------  */
/*  Add to home screen (a2hs)                                 */
/*  --------------------------------------------------------  */
.a2hs-banner {
  bottom: 0;
  box-shadow: 0 -2px 10px 0 #888;
  background: #fff;
  color: #007bff;
  display: none;
  height: 50px;
  left: 0;
  line-height: 50px;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 999;
}

.a2hs-img {
  height: 40px;
  left: 10px;
  position: absolute;
  top: 5px;
  width: 40px;
}

.a2hs-add {
  cursor: pointer;
  padding-left: 4em;
}

.a2hs-close {
  color: #888;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 50px;
}

.a2hs-close:hover {
  background: #ccc;
}

/*  --------------------------------------------------------  */
/*  The infamous icon spin & pulse                            */
/*  --------------------------------------------------------  */
.icon-spin {
  animation: icon-spin 2s infinite linear;
}

.icon-pulse {
  animation: icon-spin 1s infinite steps(8);
}

@keyframes icon-spin {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}

/*  --------------------------------------------------------  */
/*  Responsive table                                          */
/*  --------------------------------------------------------  */
/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead > tr {
    left: -9999px;
    position: absolute;
    top: -9999px;
  }
  /* Behave  like a "row" */
  td {
    padding-bottom: 5px;
    padding-left: 50%;
    padding-top: 5px;
    position: relative;
  }
  /* Override stripe coloring */
  table.striped > tbody > tr:nth-child(odd) {
    background: #fff;
  }
  /* Add table header labels */
  td:before {
    left: 10px;
    position: absolute;
  }
  /* Material card layout */
  table.striped > tbody > tr {
    border-radius: 10px;
    border-style: solid;
    border-color: #e0e0e0;
    border-width: 1px;
    margin: 0.5rem 0 1rem 0;
    padding: 24px;
  }
  /* Label the data */
  #donors td:nth-of-type(1):before { content: "Name"; }
  #donors td:nth-of-type(2):before { content: "Gender"; }
  #donors td:nth-of-type(3):before { content: "Age"; }
  #donors td:nth-of-type(4):before { content: "Blood Group"; }
  #donors td:nth-of-type(5):before { content: "Atoll / City"; }
  #donors td:nth-of-type(6):before { content: "Island / Ward"; }
  #donors td:nth-of-type(7):before { content: "Phone"; }
  #donors td:nth-of-type(8):before { content: "Last Donated"; }
  #requests td:nth-of-type(1):before { content: "Blood Group"; }
  #requests td:nth-of-type(2):before { content: "Contact Number"; }
  #requests td:nth-of-type(3):before { content: "Place"; }
  #requests td:nth-of-type(4):before { content: "Requested at"; }
  #requests td:nth-of-type(5):before { content: "Fulfilled"; }
}
