body {
  font-family: Roboto;
}

a:hover {
  text-decoration: none;
}

#nav-log:hover li, #nav-add:hover li, #nav-home:hover li, #nav-req-list:hover li, #nav-req-add:hover li {
  background-color: #eee;
}

#sidenav ul li i.material-icons {
  color: #888;
}

#sidenav ul li.active {
  color: #888;
}

.avatar-img {
  border-radius: 50%;
}

.navbar-brand {
  font-weight: bold;
}

.bg-navbar {
  background-color: #212529;
}

table caption {
  font-style: italic;
  width: 600%;
}

.fulf-disabled {
  cursor: default;
  color: #888;
}

.fulf-enabled {
  cursor: pointer;
}

.fa-spin {
  font-size: 28px;
}

#fa-spin-preload {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

#addPage input:focus:required:valid, #reqAddPage input:focus:required:valid {
  background-color: #c9e8c1;
}

#addPage input:focus:required:invalid, #reqAddPage input:focus:required:invalid {
  background-color: #e8b6b6;
}

#addPage .spinner, #reqAddPage .spinner {
  float: right;
}

#listPage .spinner, #reqListPage .spinner {
  margin: 100px auto;
}

/*  --------------------------------------------------------  */
/*  Responsive table                                          */
/*  --------------------------------------------------------  */
/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr { border: 1px solid #ccc; }
  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50% !important;
  }
  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  /* Label the data */
  #donors td:nth-of-type(1):before { content: "Name"; }
  #donors td:nth-of-type(2):before { content: "Gender"; }
  #donors td:nth-of-type(3):before { content: "Age"; }
  #donors td:nth-of-type(4):before { content: "Blood Group"; }
  #donors td:nth-of-type(5):before { content: "Atoll / City"; }
  #donors td:nth-of-type(6):before { content: "Island / Ward"; }
  #donors td:nth-of-type(7):before { content: "Phone"; }
  #donors td:nth-of-type(8):before { content: "Last Donated"; }
  #requests td:nth-of-type(1):before { content: "Blood Group"; }
  #requests td:nth-of-type(2):before { content: "Contact Number"; }
  #requests td:nth-of-type(3):before { content: "Place"; }
  #requests td:nth-of-type(4):before { content: "Requested at"; }
  #requests td:nth-of-type(5):before { content: "Fulfilled"; }
}

/*  --------------------------------------------------------  */
/*  Sidenav - Android like side navigation                    */
/*  --------------------------------------------------------  */
#sidenav {
  background: white;
  width: 350px;
}
#sidenav .header {
  text-align: center;
  padding: 30px;
  background-color: #212529;
  background-size: cover;
}
#sidenav .avatar {
  text-shadow: 0px 0px 5px black;
  font-size: 102px;
  border-radius: 999px;
  color: rgba(255,255,255,0.8);
  background: rgba(255, 255, 255, 0);
}
#sidenav .title {
  margin-top: 20px;
  color: rgba(255,255,255,0.91);
  text-shadow: 0px 0px 3px #000;
  font-size: 1.6em;
}
#sidenav .headline {
  margin-top: 10px;
  color: rgba(255,255,255,0.91);
  text-shadow: 0px 0px 3px #000;
  font-size: 1.1em;
}
#sidenav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#sidenav ul li {
  color: #333;
  padding: 15px;
  display: flex;
  align-items: center;
}
#sidenav ul li i {
  margin-right: 10px;
}
#sidenav ul li.active {
  background: #EEE;
}

/*  --------------------------------------------------------  */
/*  Spinner - loading animation while the table is generated  */
/*  --------------------------------------------------------  */
.spinner {
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}
.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
          animation: stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}
.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
          animation-delay: -1.0s;
}
.spinner .rect4 {
  -webkit-animation-delay: -.9s;
          animation-delay: -.9s;
}
.spinner .rect5 {
  -webkit-animation-delay: -.8s;
          animation-delay: -.8s;
}
@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(.4) }
  20% { -webkit-transform: scaleY(1.0) }
}
@keyframes stretchdelay {
  0%, 40%, 100% {
            transform: scaleY(0.4);
    -webkit-transform: scaleY(.4);
  }  20% {
            transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
