/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#nav-mobile > li > div > i {
  font-size: 80px;
}

#nav-mobile > li {
  width: 100%;
}

#drop-acc {
  width: 350px !important;
}

#drop-acc > li > .title, #drop-acc > li > .email {
  padding: 0;
}

#drop-acc > li.avatar > i {
  font-size: 42px;
}

#drop-acc > li.avatar:hover {
  background-color: #fff;
  cursor: default;
}

.pagination.right {
  width: auto;
}

/*  --------------------------------------------------------  */
/*  Responsive table                                          */
/*  --------------------------------------------------------  */
/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    left: -9999px;
    position: absolute;
    top: -9999px;
  }
  /* Behave  like a "row" */
  td {
    padding-bottom: 5px;
    padding-left: 50%;
    padding-top: 5px;
    position: relative;
  }
  /* Override stripe coloring */
  table.striped > tbody > tr:nth-child(odd) {
    background: #fff;
  }
  /* Add table header labels */
  td:before {
    left: 10px;
    position: absolute;
  }
  /* Material card layout */
  table.striped tbody tr {
    border-radius: 10px;
    border-style: solid;
    border-color: #e0e0e0;
    border-width: 1px;
    margin: 0.5rem 0 1rem 0;
    padding: 24px;
  }
  /* Label the data */
  #donors td:nth-of-type(1):before { content: "Name"; }
  #donors td:nth-of-type(2):before { content: "Gender"; }
  #donors td:nth-of-type(3):before { content: "Age"; }
  #donors td:nth-of-type(4):before { content: "Blood Group"; }
  #donors td:nth-of-type(5):before { content: "Atoll / City"; }
  #donors td:nth-of-type(6):before { content: "Island / Ward"; }
  #donors td:nth-of-type(7):before { content: "Phone"; }
  #donors td:nth-of-type(8):before { content: "Last Donated"; }
  #requests td:nth-of-type(1):before { content: "Blood Group"; }
  #requests td:nth-of-type(2):before { content: "Contact Number"; }
  #requests td:nth-of-type(3):before { content: "Place"; }
  #requests td:nth-of-type(4):before { content: "Requested at"; }
  #requests td:nth-of-type(5):before { content: "Fulfilled"; }
}
